In [46]:
import pandas as pd

def clean():
    df1 = pd.read_csv("../data/calls_for_service_2015.csv")
    df1["year"] = 2015
    df2 = pd.read_csv("../data/calls_for_service_2016.csv")
    df2["year"] = 2016
    df3 = pd.read_csv("../data/calls_for_service_2017.csv")
    df3["year"] = 2017
    df4 = pd.read_csv("../data/calls_for_service_2018.csv")
    df4["year"] = 2018
    df5 = pd.read_csv("../data/calls_for_service_2019.csv")
    df5["year"] = 2019
    df6 = pd.read_csv("../data/calls_for_service_2020.csv")
    df6["year"] = 2020
    df7 = pd.read_csv("../data/calls_for_service_2021.csv")
    df7["year"] = 2021

    dfs = pd.DataFrame(pd.concat([df1, df2, df3, df4, df5, df6, df7]))
    return dfs

In [47]:
df = clean()

C:\Users\PC\AppData\Local\Temp\ipykernel_21260\3512359829.py:12: DtypeWarning: Columns (18) have mixed types. Specify dtype option on import or set low_memory=False.
  df5 = pd.read_csv("../data/calls_for_service_2019.csv")

In [48]:
df.year.value_counts()

2019    487362
2018    460874
2017    444111
2020    432892
2015    432733
2021    428315
2016    404062
Name: year, dtype: int64

In [49]:
df.columns

Index(['NOPD_Item', 'Type_', 'TypeText', 'Priority', 'InitialType',
       'InitialTypeText', 'InitialPriority', 'MapX', 'MapY', 'TimeCreate',
       'TimeDispatch', 'TimeArrive', 'TimeClosed', 'Disposition',
       'DispositionText', 'SelfInitiated', 'Beat', 'BLOCK_ADDRESS', 'Zip',
       'PoliceDistrict', 'Location', 'year', 'Type', 'TimeArrival'],
      dtype='object')

In [50]:
df["cfs_tally"] = 1

In [51]:
df = df[
        (
            df.TypeText.isin(
                [
                    "AGGRAVATED ASSAULT",
                    "CARJACKING",
                    "AGGRAVATED ASSAULT DOMESTIC",
                    "ARMED ROBBERY WITH GUN",
                    "AGGRAVATED BATTERY BY SHOOTING",
                    "AGGRAVATED BATTERY DOMESTIC",
                    "AGGRAVATED BURGLARY",
                    "AGGRAVATED BATTERY BY CUTTING",
                    "AGGRAVATED RAPE",
                    "ARMED ROBBERY",
                    "SIMPLE RAPE",
                    "HOMICIDE BY SHOOTING",
                    "ARMED ROBBERY WITH KNIFE",
                    "AGGRAVATED KIDNAPPING",
                    "SIMPLE ASSAULT DOMESTIC",
                    "AGGRAVATED RAPE UNFOUNDED BY SPECIAL VICTIMS OR CHILD ABUSE",
                    "AGGRAVATED BURGLARY DOMESTIC",
                    "AGGRAVATED RAPE MALE VICTIM",
                    "HOMICIDE",
                    "HOMICIDE BY CUTTING",
                    "ILLEGAL CARRYING OF WEAPON- KNIFE",
                    "SIMPLE RAPE MALE VICTIM",
                    "AGGRAVATED ARSON",
                    "SIMPLE RAPE UNFOUNDED BY SPECIAL VICTIMS OR CHILD ABUSE",
                ]
            )
        )
    ]

In [52]:
df.TypeText.unique()

array(['AGGRAVATED ASSAULT', 'AGGRAVATED BURGLARY',
       'ARMED ROBBERY WITH GUN', 'ARMED ROBBERY WITH KNIFE',
       'HOMICIDE BY SHOOTING', 'AGGRAVATED RAPE',
       'SIMPLE ASSAULT DOMESTIC', 'AGGRAVATED ASSAULT DOMESTIC',
       'AGGRAVATED BATTERY BY SHOOTING', 'AGGRAVATED BATTERY DOMESTIC',
       'SIMPLE RAPE', 'AGGRAVATED ARSON', 'HOMICIDE BY CUTTING',
       'ARMED ROBBERY', 'ILLEGAL CARRYING OF WEAPON- KNIFE', 'CARJACKING',
       'HOMICIDE', 'AGGRAVATED RAPE MALE VICTIM',
       'AGGRAVATED RAPE UNFOUNDED BY SPECIAL VICTIMS OR CHILD ABUSE',
       'AGGRAVATED KIDNAPPING',
       'SIMPLE RAPE UNFOUNDED BY SPECIAL VICTIMS OR CHILD ABUSE',
       'SIMPLE RAPE MALE VICTIM', 'AGGRAVATED BURGLARY DOMESTIC',
       'AGGRAVATED BATTERY BY CUTTING'], dtype=object)

In [53]:
epr = df[["year", "cfs_tally"]]
epr = epr.groupby(["year"]).cfs_tally.value_counts()
epr = pd.DataFrame(epr)
epr

                cfs_tally
year cfs_tally
2015 1               3474
2016 1               3760
2017 1               3701
2018 1               3702
2019 1               3991
2020 1               4967
2021 1               5524

In [54]:
epr.to_excel("../data/cfs_counts_violent_calls.xlsx")